<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Manager</title>
    <link rel="icon" href="/resources/images/shopping.png" type="image/x-icon">
    <link rel="stylesheet" type="text/css" th:href="@{/resources/vendor/fontawesome-free/css/all.min.css}">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/style--list.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/sb-admin-2.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/font-awesome.min.css}">
</head>
<body id="page-top">
<div id="wrapper">
    <nav class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar"
         th:replace="manager/fragment/listNav_1::nav_1"></nav>
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow"
                 th:replace="manager/fragment/listNav::nav"></nav>
            <div class="container-fluid">
                <div th:if="${success}" class="row alert alert-success alert-dismissible"
                     style="width: 850px; margin-left: 50px;">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <span th:text="${success}"></span>
                </div>
                <div th:if="${fail}" class="row alert alert-danger alert-dismissible"
                     style="width: 850px; margin-left: 50px; color: red">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <span th:text="${fail}"></span>
                </div>
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800">Danh Sách Đánh Giá</h1>
                </div>
                <div class="row">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Số Thứ Tự</th>
                                <th>Đánh Giá</th>
                                <th>Bình Luận</th>
                                <th>Họ Và Tên</th>
                                <th>Mã Sản Phẩm</th>
                            </tr>
                        </thead>
                        <tbody id="vote-table"></tbody>
                    </table>
                    <div class="d-flex justify-content-between align-items-center" style="margin-top: 25px;">
                        <ul class="pagination mb-0">
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="First" title="Go to first page">First</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" aria-label="Previous" title="Go to previous page">
                                    <span aria-hidden="true">«</span>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </li>
                            <li class="page-item active">
                                <a class="page-link" href="#">1</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" aria-label="Next" title="Go to next page">
                                    <span aria-hidden="true">»</span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Last" title="Go to last page">Last</a>
                            </li>
                        </ul>
                        <div class="form-group ml-3 mb-0">
                            <label for="pageSize" class="mr-2">Bản Ghi:</label>
                            <select id="pageSize" class="form-control" style="width: 80px; display: inline-block;">
                                <option value="5">5</option>
                                <option value="10">10</option>
                                <option value="20">20</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="footer" th:replace="manager/fragment/footer::footer"></footer>
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Sẵn sàng rời đi?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Chọn "Đăng xuất" bên dưới nếu bạn sẵn sàng kết thúc phiên hiện tại của mình.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Hủy Bỏ</button>
                <a class="btn btn-primary" id="logoutButton">Đăng Xuất</a>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" th:src="@{/resources/vendor/jquery/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/resources/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script type="text/javascript" th:src="@{/resources/vendor/jquery-easing/jquery.easing.min.js}"></script>
<script type="text/javascript" th:src="@{/resources/js/sb-admin-2.min.js}"></script>
<script type="text/javascript" th:src="@{/resources/vendor/datatables/dataTables.bootstrap4.js}"></script>
<script type="text/javascript" th:src="@{/resources/vendor/datatables/jquery.dataTables.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script type="text/javascript" th:src="@{/resources/js/list--vote.js}"></script>
<script type="text/javascript" th:src="@{/resources/js/logout.js}"></script>
</body>
</html>