<footer th:fragment="footer">
    <div class="footer-top-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="footer-about-us">
                        <h2>u<span>E-commerce</span></h2>
                        <p>Chào Mừng Bạn Đến Với E-commerce</p>
                        <div class="footer-social">
                            <a href="#" target="_blank"><i class="fa fa-faucet"></i></a>
                            <a href="#" target="_blank"><i class="fa fa-tablet"></i></a>
                            <a href="#" target="_blank"><i class="fa fa-youtube-play"></i></a>
                            <a href="#" target="_blank"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="footer-menu">
                        <h2 class="footer-wid-title">Điều Hướng Người Dùng</h2>
                        <ul>
                            <li><a th:href="@{'/updateProfile/' + ${accountID}}">Tài Khoản Của Tôi</a></li>
                            <li><a th:href="@{/cart}">Lịch Sử Mua Hàng</a></li>
                            <li><a href="#">Danh Sách Yêu Thích</a></li>
                            <li><a th:href="@{/index/contact}">Liên Hệ Nhà Cung Cấp</a></li>
                            <li><a th:href="@{/index}">Trang Đầu</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="footer-menu">
                        <h2 class="footer-wid-title">Loại Sản Phẩm</h2>
                        <ul>
                            <li th:each="cate : ${category}">
                                <a th:href="@{'/catalog-list/' + ${cate.categoryID}}">
                                    <span th:text="${cate.categoryName}"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="footer-newsletter">
                        <h2 class="footer-wid-title">Bản Tin</h2>
                        <p>Đăng ký nhận bản tin của chúng tôi và nhận các ưu đãi độc quyền mà bạn sẽ không tìm thấy ở bất kỳ nơi nào khác ngay trong hộp thư đến của mình!</p>
                        <div class="newsletter-form">
                            <form action="#">
                                <input type="email" placeholder="Type your email">
                                <input type="submit" value="Subscribe">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom-area">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="copyright">
                        <p>&copy; 2024 uCommerce. All Rights Reserved. <a href="http://www.freshdesignweb.com" target="_blank">freshDesignweb.com</a></p>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="footer-card-icon">
                        <i class="fa fa-cc-discover"></i>
                        <i class="fa fa-cc-mastercard"></i>
                        <i class="fa fa-cc-paypal"></i>
                        <i class="fa fa-cc-visa"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>