<div th:fragment="header" class="header">
    <div class="header-area">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="user-menu">
                        <ul>
                            <li><a th:href="@{index/favorites}"><i class="fa fa-heart"></i>Danh Sách Yêu Thích</a></li>
                            <li><a th:href="@{/cart}"><i class="fa fa-cart-plus"></i>Giỏ Hàng Của Tôi</a></li>
                            <li th:if="${accountName == null}"><a th:href="@{/login}"><i class="fa fa-user"></i>Đăng Nhập</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="header-links pull-right">
                        <ul class="nav">
                            <li class="nav-item dropdown" th:if="${accountName != null}">
                                <a class="nav-link dropdown-toggle" href="#" id="accountDropdown"
                                   role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fa fa-user"></i>
                                    <span class="shop-menu-ttl" id="account_Name" th:text="${accountName}"></span>
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="accountDropdown">
                                    <li>
                                        <a class="dropdown-item" th:href="@{'/updateProfile/' + ${accountID}}">
                                            <i class="fa fa-cog"></i> CẬP NHẬT THÔNG TIN
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item text-danger" id="logoutButton">
                                            <i class="fa fa-sign-out"></i> Đăng Xuất
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
