<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Manager</title>
    <link rel="stylesheet" type="text/css" th:href="@{/resources/vendor/fontawesome-free/css/all.min.css}">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/sb-admin-2.min.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/font-awesome.min.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="icon" href="/resources/images/shopping.png" type="image/x-icon">
    <style type="text/css">
        .pagination .page-link {
            color: #007bff;
            text-decoration: none;
            border-radius: 50px;
            transition: all 0.3s ease;
            padding: 10px 15px;
        }
        .pagination .page-item.active .page-link {
            background-color: #007bff;
            border-color: #007bff;
            color: white;
        }
        .pagination .page-link:hover {
            background-color: #f1f1f1;
            color: #0056b3;
            border-color: #007bff;
        }

        .pagination .active .page-link {
            background-color: #007bff;
            color: white;
            border-color: #007bff;
        }

        .pagination .page-item.disabled .page-link {
            color: #6c757d;
            pointer-events: none;
            background-color: #f8f9fa;
            border-color: #dee2e6;
        }
        #pageSize {
            padding: 5px;
            border-radius: 5px;
            border: 1px solid #ddd;
            background-color: #f8f9fa;
        }

        .pagination .page-link:focus {
            box-shadow: none;
            outline: none;
        }

        .pagination .page-link {
            margin: 0 5px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            color: #007bff;
        }
        .pagination-wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .pagination {
            margin-bottom: 0;
        }
        .form-group label {
            margin-right: 10px;
        }
        .form-group {
            margin-left: 15px;
            display: flex;
            align-items: center;
        }
    </style>
</head>
<body id="page-top">
<div id="wrapper">
    <nav class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar"
         th:replace="manager/fragment/listNav_1::nav_1"></nav>
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow"
                 th:replace="manager/fragment/listNav::nav"></nav>
            <div class="container-fluid">
                <div th:if="${success}" class="row alert alert-success alert-dismissible"
                     style="width: 850px; margin-left: 50px;">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <span th:text="${success}"></span>
                </div>
                <div th:if="${fail}" class="row alert alert-danger alert-dismissible"
                     style="width: 850px; margin-left: 50px; color: red">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <span th:text="${fail}"></span>
                </div>
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800">Danh Sách Loại Sản Phẩm</h1>
                </div>
                <div class="row">
                    <p class="card-description">
                        <a class="btn btn-primary"
                           th:href="@{/manager/addCategory}">
                            <i class="fas fa-upload fa-sm text-white-50"></i> Thêm Loại Sản Phẩm
                        </a>
                        <a class="btn btn-inverse-outline-danger" href="/api/v1/category/download" download="API-PRODUCT.xlsx">
                            <i class="fas fa-download fa-sm text-white-50"></i> File Mẫu Excel Để Thêm Loại Sản Phẩm
                        </a>
                        <button type="button" id="btnOpenUploadExcelDialog" class="btn btn-secondary">
                            <i class="fas fa-file-excel fa-sm text-white-50"></i> Upload Excel
                        </button>
                    </p>
                    <table  class="table table-striped">
                        <thead>
                            <tr>
                                <th>Tên Loại Sản Phẩm</th>
                            </tr>
                        </thead>
                        <tbody id="category-table"></tbody>
                    </table>
                    <div class="d-flex justify-content-between align-items-center" style="margin-top: 25px;">
                        <ul class="pagination mb-0">
                            <li class="page-item" id="first-page">
                                <a class="page-link" href="#" aria-label="First" title="Go to first page">First</a>
                            </li>
                            <li class="page-item" id="prev-page">
                                <a class="page-link" aria-label="Previous" title="Go to previous page">«</a>
                            </li>

                            <li class="page-item" id="next-page">
                                <a class="page-link" aria-label="Next" title="Go to next page">»</a>
                            </li>
                            <li class="page-item" id="last-page">
                                <a class="page-link" href="#" aria-label="Last" title="Go to last page">Last</a>
                            </li>
                        </ul>
                        <div class="form-group ml-3 mb-0">
                            <label for="pageSize" class="mr-2">Bản Ghi:</label>
                            <select id="pageSize" class="form-control" style="width: 80px; display: inline-block;">
                                <option value="5">5</option>
                                <option value="10">10</option>
                                <option value="20">20</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                            </select>
                        </div>
                    </div>
                    <!-- Modal -->
                    <form id="update-category-form" enctype="multipart/form-data">
                        <div class="modal fade" id="update-category-dialog" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                             aria-hidden="true" >
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Cập Nhật Loại Sản Phẩm</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body" >
                                        <div class="col-md-12">
                                            <input type="hidden" class="form-control" id="id">
                                            <div class="form-group">
                                                <label for="name">Tên Loại Sản Phẩm</label>
                                                <input type="name" class="form-control" id="name" placeholder="Name">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                                        <button onclick="saveCategory()" type="button" class="btn btn-primary">Cập Nhật</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <form id="upload-excel-form" enctype="multipart/form-data">
                        <div class="modal fade" id="upload-excel-dialog" tabindex="-1" role="dialog"
                             aria-labelledby="exampleModalLabel"
                             aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Tải lên tệp Excel:</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="excelFile">Chọn tệp Excel:</label><br>
                                                <input type="file" class="form-control" id="excelFile" name="excelFile"
                                                       accept=".xlsx, .xls"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                            <i class="fas fa-info-circle"></i> Đóng
                                        </button>
                                        <button onclick="uploadExcelFile()" type="button" class="btn btn-primary">
                                            <i class="fas fa-upload"></i> Tải tệp lên
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="footer" th:replace="manager/fragment/footer::footer"></footer>
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Sẵn sàng rời đi?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Chọn "Đăng xuất" bên dưới nếu bạn sẵn sàng kết thúc phiên hiện tại của mình.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Hủy Bỏ</button>
                <a class="btn btn-primary" th:href="@{/logout}">Đăng Xuất</a>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" th:src="@{/resources/vendor/jquery/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/resources/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script type="text/javascript" th:src="@{/resources/vendor/jquery-easing/jquery.easing.min.js}"></script>
<script type="text/javascript" th:src="@{/resources/js/sb-admin-2.min.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
<script type="text/javascript" th:src="@{/resources/js/listcate.js}"></script>
<script type="text/javascript" th:src="@{/resources/js/upload--excel_cate.js}"></script>
<script type="text/javascript" th:src="@{/resources/js/crud_cate.js}"></script>
<script type="text/javascript" th:src="@{/resources/js/logout.js}"></script>
<script type="text/javascript" th:src="@{/resources/js/paginated--cate.js}"></script>
<script type="text/javascript" th:src="@{/resources/vendor/datatables/dataTables.bootstrap4.js}"></script>
<script type="text/javascript" th:src="@{/resources/vendor/datatables/jquery.dataTables.js}"></script>
</body>
</html>