<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hệ Thống Mua Sắm Điện Tử</title>
    <link rel="icon" href="/static/images/shopping.png" type="image/x-icon">
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/style3.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/sb-admin-2.min.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <link rel="stylesheet" href="/resources/fonts/css/ionicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="icon" href="/resources/images/shopping.png" type="image/x-icon">
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/form.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/login.css}">
</head>
<body>
<div class="wrapper" th:style="'background-image: url(' + @{/resources/images/e-commerce-la-gi-02.png} + ');'">
    <div class="inner" style="color: rgb(102,127,255);">
        <div class="image-holder" style="margin-top: -20px;">
            <img src="/resources/images/e-commerce.jpg" alt="">
        </div>
        <form id="loginForm" onsubmit="return false;" name="form">
            <h3 style="color: rgb(75,66,2);">ĐĂNG NHẬP</h3>
            <div class="spanerror" style="width: 320px; margin-top: -20px; height: 40px;">
                <span id="error" style="font-size: 15px; padding-left: 56px;"></span>
            </div>
            <div class="form-wrapper">
                <input type="text" id="accountName" name="accountName" placeholder="Tên Đăng Nhập"
                       th:value="${accountName}"
                       style="width: 100%; max-width: 350px; padding: 10px; border-radius: 5px;">
                <span class="input-group-text"
                      style="position: absolute; right: 10px; top: 50%; transform: translateY(-50%); cursor: pointer;">
                    <i class="fa fa-info" style="color: #4b4202;"></i>
                </span>
            </div>
            <div class="form-wrapper">
                <input type="password" id="accountPass" name="accountPass" placeholder="Nhập Mật Khẩu"
                       style="width: 100%; max-width: 350px; padding: 10px; border-radius: 5px;">
                <span style="position: absolute; right: 10px; top: 50%; transform: translateY(-50%); cursor: pointer;">
                    <i class="fa fa-eye toggle-password" id="togglePassIcon" style="color: #4b4202;"></i>
                </span>
            </div>
            <!-- Captcha Section -->
            <div class="form-wrapper">
                <img id="captchaImage" src="/api/v1/account/captcha?ts=" + new Date().getTime() alt="Captcha Image">
                <button type="button" onclick="refreshCaptcha()">Tải lại mã</button>
            </div>
            <div class="form-wrapper">
                <input type="text" id="captchaInput" name="captchaInput" placeholder="Nhập mã xác nhận">
            </div>
            <div style="width: 100%">
                <button style="width: 50%; border-radius: 10px; background: rgb(3,40,248) " class="submit"
                        onclick="login()">Đăng nhập
                </button>
                <a th:href="@{/registerd}"
                   style="text-align: center; color: white; font-size: 18px; text-decoration: none;">
                    <div style="width: 50%; border-radius: 10px; background: rgb(3,40,248); height: 40px; margin-top: -40px; padding-top: 10px; margin-left: 160px;">
                        Đăng ký
                    </div>
                </a>
            </div>
            <div class="home">
                <a th:href="@{/index}">Trở về trang chủ</a>
            </div>
        </form>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9.5.3/dist/sweetalert2.all.min.js"></script>
<script type="text/javascript" th:src="@{/resources/vendor/jquery/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/resources/vendor/jquery-easing/jquery.easing.min.js}"></script>
<script type="text/javascript" th:src="@{/resources/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script type="text/javascript" th:src="@{/resources/js/sb-admin-2.min.js}"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<script type="text/javascript" th:src="@{/resources/js/validateLogin.js}"></script>
<script type="text/javascript" th:src="@{/resources/js/Login.js}"></script>
<script type="text/javascript" th:src="@{/resources/js/checkbox.js}"></script>
<script type="text/javascript" th:src="@{/resources/js/eye.js}"></script>
<script type="text/javascript">
    function refreshCaptcha() {
        var captchaImage = document.getElementById('captchaImage');
        captchaImage.src = '/api/v1/account/captcha?' + new Date().getTime();
    }
</script>
</body>
</html>
