<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"  xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hệ Thống Mua Sắm Điện Tử</title>
    <link rel="icon" href="/resources/images/shopping.png" type="image/x-icon">
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/style3.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/registerd.css}">
    <link rel="stylesheet" href="/resources/fonts/css/ionicons.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/sb-admin-2.min.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <style type="text/css">
        .error span {
            color: red;
            font-size: 14px;
            display: block;
            margin-top: 5px;
        }

        .form-wrapper {
            margin-bottom: 15px;
        }
    </style>
</head>
<body>
<div class="wrapper" th:style="'background-image: url(' + @{/resources/images/e-commerce-la-gi-02.png} + ');'" style="display: flex; justify-content: center; align-items: center; height: 100vh;">
    <div class="inner" style="width: 600px; display: flex; justify-content: center; align-items: center; background-color: #f9f9f9; border-radius: 10px; padding: 20px; box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);">
        <form id="registrationForm" enctype="multipart/form-data" style="width: 100%;">
            <h3 style="color: rgb(3,40,248); text-align: center;">Đăng ký Người Dùng</h3>

            <div class="form-group">
                <div class="form-wrapper">
                    <input type="text" placeholder="Tên Đăng Nhập" name="accountName" id="accountName" required>
                    <i class="zmdi zmdi-account"></i>
                </div>
                <div class="error">
                    <span id="usernameError"></span>
                </div>
                <div class="form-wrapper">
                    <input type="password" placeholder="Mật Khẩu" name="accountPass" id="accountPass">
                    <i class="zmdi zmdi-lock"></i>
                </div>
                <div class="error">
                    <span id="passwordError"></span>
                </div>
                <div class="form-wrapper">
                    <input type="email" placeholder="Email" name="email" id="email">
                    <i class="zmdi zmdi-email"></i>
                </div>
                <div class="error">
                    <span id="emailError"></span>
                </div>
                <div class="form-wrapper">
                    <input type="username" placeholder="Họ và Tên" name="username" id="username">
                    <i class="zmdi zmdi-email"></i>
                </div>
                <div class="error">
                    <span id="usernameError"></span>
                </div>
                <div class="form-wrapper">
                    <input type="tel" placeholder="Số Điện Thoại" name="phoneNumber" id="phoneNumber" pattern="[0-9]{10}">
                    <i class="zmdi zmdi-phone"></i>
                </div>
                <div class="error">
                    <span id="phoneError"></span>
                </div>
                <div class="form-wrapper">
                    <input type="date" name="dateOfBirth" id="dateOfBirth">
                    <i class="zmdi zmdi-calendar"></i>
                </div>
                <div class="error">
                    <span id="dateError"></span>
                </div>
                <div class="form-wrapper">
                    <input type="text" placeholder="Địa Phương" name="local" id="local">
                    <i class="zmdi zmdi-home"></i>
                </div>
                <div class="error">
                    <span id="localError"></span>
                </div>
                <div class="form-wrapper">
                    <input type="file" name="image" id="image" accept="image/*">
                    <i class="zmdi zmdi-image"></i>
                </div>
                <div class="error">
                    <span id="imageError"></span>
                </div>
            </div>
            <button type="button" class="auth-submit" style="width: 100%; border-radius: 20px; margin-top: 20px; background-color: rgb(3,40,248); color: white;
            border: none; padding: 10px; font-size: 16px;" onclick="registerAccount()">Đăng ký</button>
            <a th:href="@{/login}" style="text-align: center; color: rgb(3,40,248); font-size: 18px; text-decoration: none; margin-top: 20px; display: block;">
                Bạn đã có tài khoản
            </a>
        </form>
    </div>
</div>

<script type="text/javascript" th:src="@{/resources/js/validateregisterd.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9.5.3/dist/sweetalert2.all.min.js"></script>
<script type="text/javascript" th:src="@{/resources/vendor/jquery/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/resources/vendor/jquery-easing/jquery.easing.min.js}"></script>
<script type="text/javascript" th:src="@{/resources/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script type="text/javascript" th:src="@{/resources/js/sb-admin-2.min.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" th:src="@{/resources/js/validation-regis-ted.js}"></script>
</body>
</html>
