body {
    font-family: Arial, sans-serif;
    background-color: #eaeaea;
    margin: 0;
    padding: 50px;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-wrapper {
    position: relative;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    transition: border-color 0.3s;
}

.form-wrapper input {
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
}

.form-wrapper input:focus {
    border-color: rgb(8, 167, 100);
}

.form-wrapper i {
    position: absolute;
    top: 12px;
    right: 10px;
    font-size: 18px;
    color: #ccc;
}

.auth-submit {
    background-color: rgb(8, 167, 100);
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    transition: background-color 0.3s;
}

.auth-submit:hover {
    background-color: #0a5f3b;
}

.error {
    color: red;
    font-size: 12px;
    height: 18px;
}