<!DOCTYPE html>
<html>
<head>
    <meta charset="ISO-8859-1">
    <title>H? Th?ng Qu?n Lí Mua S?m ?i?n T?</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/resources/static/footer.css}">
</head>
<body>
<footer class="footer" th:fragment="footer">
    <div class="container">
        <div class="social-icons">
            <a href="#" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a>
            <a href="#" aria-label="Twitter"><i class="fab fa-twitter"></i></a>
            <a href="#" aria-label="LinkedIn"><i class="fab fa-linkedin-in"></i></a>
            <a href="#" aria-label="Instagram"><i class="fab fa-instagram"></i></a>
        </div>
        <div class="copyright">
            <span>Copyright &copy; Your Website 2024</span>
        </div>
    </div>
</footer>
</body>
</html>