<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Hệ Thống Mua Sắm Điện Tử</title>
  <link href="https://fonts.googleapis.com/css?family=PT+Serif:400,400i,700,700ii%7CRoboto:300,300i,400,400i,500,500i,700,700i,900,900i&amp;subset=cyrillic"
        rel="stylesheet">
  <link rel="stylesheet" type="text/css" th:href="@{/resources/css/font-awesome.min.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/resources/css/bootstrap.min.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/resources/css/ion.rangeSlider.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/resources/css/ion.rangeSlider.skinFlat.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/resources/css/jquery.bxslider.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/resources/css/jquery.fancybox.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/resources/css/flexslider.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/resources/css/swiper.css}">
  <link rel="icon" href="/resources/images/shopping.png" type="image/x-icon">
  <link rel="stylesheet" type="text/css" th:href="@{/resources/css/style.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/resources/css/media.css}">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script type="text/javascript" th:src="@{/resources/js/logout.js}"></script>
</head>
<body>
<div th:replace="fragment/header::header"></div>
<main>
  <section class="container">
    <div class="err404">
      <h1 class="err404-ttl">404</h1>
      <p class="err404-subttl">
        Error. Page not found.
      </p>
      <form action="#" class="err404-search">
        <input type="text" placeholder="Search...">
        <button type="submit"><i class="fa fa-search"></i></button>
      </form>
      <div class="err404-menus">
        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="catalog-list.html">Catalog</a></li>
          <li><a href="elements.html">Elements</a></li>
          <li><a href="contacts.html">Contacts</a></li>
          <li><a href="blog.html">Blog</a></li>
        </ul>
        <ul>
          <li><a href="catalog-list.html">Women</a></li>
          <li><a href="catalog-list.html">Men</a></li>
          <li><a href="catalog-list.html">Kids</a></li>
          <li><a href="catalog-list.html">Shoes</a></li>
          <li><a href="catalog-list.html">Accessories</a></li>
        </ul>
        <ul>
          <li><a href="blog.html">Blog</a></li>
          <li><a href="blog.html">News</a></li>
          <li><a href="blog.html">Reviews</a></li>
          <li><a href="blog.html">Contacts</a></li>
          <li><a href="blog.html">Articles</a></li>
        </ul>
        <ul>
          <li>
            <a href="contacts.html">About us</a>
          </li>
          <li>
            <a href="contacts.html">Delivery</a>
          </li>
          <li>
            <a href="contacts.html">Guarantees</a>
          </li>
          <li>
            <a href="contacts.html">How to buy</a>
          </li>
          <li>
            <a href="contacts.html">Contacts</a>
          </li>
        </ul>
      </div>
    </div>
  </section>
</main>
<footer th:replace="fragment/footer::footer"></footer>
<script type="text/javascript" th:src="@{/resources/js/jquery-1.11.2.min.js}"></script>
<script type="text/javascript" th:src="@{/resources/js/jquery.bxslider.min.js}"></script>
<script type="text/javascript" th:src="@{/resources/js/fancybox/fancybox.js}"></script>
<script type="text/javascript" th:src="@{/resources/js/fancybox/helpers/jquery.fancybox-thumbs.js}"></script>
<script type="text/javascript" th:src="@{/resources/js/jquery.flexslider-min.js}"></script>
<script type="text/javascript" th:src="@{/resources/js/swiper.jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/resources/js/jquery.waypoints.min.js}"></script>
<script type="text/javascript" th:src="@{/resources/js/progressbar.min.js}"></script>
<script type="text/javascript" th:src="@{/resources/js/ion.rangeSlider.min.js}"></script>
<script type="text/javascript" th:src="@{/resources/js/chosen.jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/resources/js/jQuery.Brazzers-Carousel.js}"></script>
<script type="text/javascript" th:src="@{/resources/js/plugins.js}"></script>
<script type="text/javascript" th:src="@{/resources/js/productVersion.js}"></script>
<script type="text/javascript" th:src="@{/resources/js/detailtab2.js}"></script>
<script type="text/javascript" th:src="@{/resources/js/gmap.js}"></script>
<script type="text/javascript" th:src="@{/resources/js/main.js}"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDhAYvx0GmLyN5hlf6Uv_e9pPvUT3YpozE"></script>
</body>
</html>