<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hệ Thống Mua Sắm Điện Tử</title>

    <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,200,300,700,600' rel='stylesheet'
          type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,100' rel='stylesheet' type='text/css'>
    <link rel="icon" href="/resources/images/shopping.png" type="image/x-icon">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/font-awesome.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/owl.carousel.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/responsive.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/styleCus.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastify-js/1.11.0/toastify.min.css">
    <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" th:src="@{/resources/js/logout.js}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
<div th:replace="fragment/header::header"></div>
<div class="mainmenu-area">
    <div class="container">
        <div class="row">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Chuyển Đổi Điều Hướng</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a th:href="@{/index}">Trang Chủ</a></li>
                    <li><a th:href="@{/index/product}">Sản Phẩm</a></li>
                    <li class="active"><a th:href="@{/cart}">Giỏ Hàng</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown">Loại Sản Phẩm<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li th:each="cate : ${category}">
                                <a th:href="@{'/catalog-list/' + ${cate.categoryID}}">
                                    <span th:text="${cate.categoryName}"></span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li><a th:href="@{/index/introduce}">Giới Thiệu</a></li>
                    <li><a th:href="@{/index/contact}">Liên Hệ</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="product-big-title-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-bit-title text-center">
                    <h2 th:href="@{/index}">GIỎ HÀNG</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="single-product-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="single-sidebar">
                    <h2 class="sidebar-title">Tìm Kiếm Sản Phẩm</h2>
                    <form th:action="@{/index/searchProduct}" method="get">
                        <input type="search" name="key" placeholder="Search products...">
                        <button type="submit" class="search-btn">Tìm</button>
                    </form>
                </div>
                <div class="single-sidebar">
                    <h2 class="sidebar-title">Sản Phẩm</h2>
                    <div class="thubmnail-recent">
                        <img src="/resources/img/product-thumb-1.jpg" class="recent-thumb" alt="">
                        <h2><a>Sony Smart TV - 2015</a></h2>
                        <div class="product-sidebar-price">
                            <ins>$700.00</ins>
                            <del>$800.00</del>
                        </div>
                    </div>
                    <div class="thubmnail-recent">
                        <img src="/resources/img/product-thumb-1.jpg" class="recent-thumb" alt="">
                        <h2><a>Sony Smart TV - 2015</a></h2>
                        <div class="product-sidebar-price">
                            <ins>$700.00</ins>
                            <del>$800.00</del>
                        </div>
                    </div>
                    <div class="thubmnail-recent">
                        <img src="/resources/img/product-thumb-1.jpg" class="recent-thumb" alt="">
                        <h2><a>Sony Smart TV - 2015</a></h2>
                        <div class="product-sidebar-price">
                            <ins>$700.00</ins>
                            <del>$800.00</del>
                        </div>
                    </div>
                    <div class="thubmnail-recent">
                        <img src="/resources/img/product-thumb-1.jpg" class="recent-thumb" alt="">
                        <h2><a>Sony Smart TV - 2015</a></h2>
                        <div class="product-sidebar-price">
                            <ins>$700.00</ins>
                            <del>$800.00</del>
                        </div>
                    </div>
                </div>
                <div class="single-sidebar">
                    <h2 class="sidebar-title">Bài Viết Gần Đây</h2>
                    <ul>
                        <li><a></a></li>
                        <li><a></a></li>
                        <li><a></a></li>
                        <li><a></a></li>
                        <li><a></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-8">
                <div class="product-content-right">
                    <div class="woocommerce">
                        <form action="#">
                            <table cellspacing="0" class="shop_table cart" th:if="${#lists.size(session.cart) > 0}">
                                <thead>
                                <tr>
                                    <th class="product-remove">&nbsp;</th>
                                    <th class="product-thumbnail">&nbsp;</th>
                                    <th class="product-name">Sản Phẩm</th>
                                    <th class="product-price">Giá Tiền</th>
                                    <th class="product-quantity">Số Lượng</th>
                                    <th class="product-subtotal">Tổng</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="cart_item" th:each="product : ${session.cart}">
                                    <input type="hidden" class="productID" th:value="${product.productID}"/>
                                    <td class="product-remove">
                                        <a title="Remove this item" class="remove product-remove"
                                           th:attr="data-productid=${product.productID}"><i
                                                class="fas fa-trash-alt"></i></a>
                                    </td>
                                    <td class="product-thumbnail">
                                        <a href="single-product.html">
                                            <img width="145" height="145" class="shop_thumbnail"
                                                 th:src="@{'data:image/png;base64,'+ ${product.getImageBase64()}}">
                                        </a>
                                    </td>
                                    <td class="product-name">
                                        <a th:text="${product.productName}"></a>
                                    </td>
                                    <td >
                                        <span class="price" th:text="${product.price}"></span>
                                    </td>
                                    <td class="product-quantity">
                                        <div class="quantity buttons_added">
                                            <input type="button" class="minus" value="-">
                                            <input type="number" size="4" class="input-text qty text quantityinput"
                                                   title="Qty" value="1" min="0" step="1" th:value="${product.amount}">
                                            <input type="button" class="plus" value="+">
                                            <button type="button" name="update_cart" class="button updateclick"
                                                    th:attr="data-productid=${product.productID}">Cập Nhật
                                            </button>
                                        </div>
                                    </td>
                                    <td class="product-subtotal">
                                        <span class="total"
                                              th:text="${#numbers.formatCurrency(product.price * product.amount)}"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="actions" colspan="6">
                                        <label>Phiếu giảm giá:</label>
                                        <input type="text" placeholder="Mã phiếu giảm giá" value="" class="input-text">
                                        <button type="button" name="apply" class="button">Apply Coupon</button>
                                        <button type="button" class="btn btn-primary" id="submitorders">Đặt Hàng
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </form>
                        <div class="row" th:unless="${#lists.size(session.cart) > 0}">
                            <div class="text-center">
                                <h2>CHƯA CHỌN SẢN PHẨM NÀO!</h2>
                                <div class="icon">📝</div>
                            </div>
                        </div>
                        <div class="cart-collaterals" th:if="${#lists.size(orders) > 0}">
                            <div style="text-align: center;">
                                <h2>Orders</h2>
                            </div>
                            <form action="#">
                                <table cellspacing="0" class="shop_table cart">
                                    <thead>
                                        <tr>
                                            <th>Mã Hóa Đơn</th>
                                            <th>Ngày Đặt Hàng</th>
                                            <th>Trạng Thái</th>
                                            <th>Tổng Cộng</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody class="text-center" th:each="oneinvoice : ${orders}">
                                    <td class="cart-ttl">
                                        <a th:href="@{'/orderdetails/'+${oneinvoice.orderID}}"
                                           th:text="${oneinvoice.orderID}"
                                           th:attr="data-orderid=${oneinvoice.orderID}"></a>
                                    </td>
                                    <td>
                                        <span th:text="${oneinvoice.orderDateImport}"></span>
                                    </td>
                                    <td>
                                        <span th:text="${oneinvoice.status}"></span>
                                    </td>
                                    <td>
                                        <span th:text="${oneinvoice.orderTotal}" class="product-price"></span>
                                    </td>
                                    <td>
                                        <button class="cancel-order-button"
                                                th:if="${oneinvoice.status != 'Hoàn thành' && oneinvoice.status != 'Đã Hủy'}"
                                                th:attr="data-orderid=${oneinvoice.orderID}">Hủy Đơn Hàng
                                        </button>
                                    </td>
                                    </tbody>
                                </table>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:replace="fragment/footer::footer"></footer>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script type="text/javascript" th:src="@{/resources/js/owl.carousel.min.js}"></script>
<script type="text/javascript" th:src="@{/resources/js/jquery.easing.1.3.min.js}"></script>
<script type="text/javascript" th:src="@{/resources/js/main.js}"></script>
<script type="text/javascript" th:src="@{/resources/js/bxslider.min.js}"></script>
<script type="text/javascript" th:src="@{/resources/js/script.slider.js}"></script>
<script type="text/javascript" th:src="@{/resources/js/jquery.sticky.js}"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script type="text/javascript" th:src="@{/resources/js/addTocart.js}"></script>
<script type="text/javascript" th:src="@{/resources/js/canceloder.js}"></script>
<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function () {
        const formatPrice = (price) => {
            return new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND' }).format(price);
        };

        document.querySelectorAll('.product-price').forEach(el => {
            const price = parseFloat(el.innerText);
            if (!isNaN(price)) {
                el.innerText = formatPrice(price);
            }
        });
    });
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $('button[name="apply"]').on('click', function () {
            var discountCode = $('input[placeholder="Mã phiếu giảm giá"]').val().trim();

            if (discountCode === '') {
                alert('Vui lòng nhập mã giảm giá');
                return;
            }

            var products = [];
            $('.cart_item').each(function () {
                var productID = $(this).find('.productID').val();
                var price = parseFloat($(this).find('.price').text().trim());
                var quantity = parseInt($(this).find('.quantityinput').val().trim());

                products.push({productID: productID, price: price, quantity: quantity});
            });

            $.ajax({
                url: '/dossier-statistic/apply',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({
                    discountCode: discountCode,
                    products: products,
                }),
                success: function (response) {
                    if (response.success) {
                        response.discountedProducts.forEach(function (item) {
                            var row = $('.cart_item').find(`.productID[value="${item.productID}"]`).closest('.cart_item');
                            row.find('.price').text(item.discountedPrice.toFixed(2));
                            row.find('.total').text((item.discountedPrice * item.quantity).toFixed(2));
                        });

                        alert('Áp dụng mã giảm giá thành công!');
                    } else {
                        alert(response.message);
                    }
                },
                error: function () {
                    alert('Đã có lỗi xảy ra. Vui lòng thử lại.');
                },
            });
        });
    });
</script>
</body>
</html>
