<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hệ Thống Mua Sắm Điện Tử</title>
    <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,200,300,700,600' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,100' rel='stylesheet' type='text/css'>
    <link rel="icon" href="/resources/images/shopping.png" type="image/x-icon">
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/font-awesome.min.css}">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/responsive.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/styleCus.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/product.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastify-js/1.11.0/toastify.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastify-js/1.11.0/toastify.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<div th:replace="fragment/header::header"></div>
<div class="site-branding-area">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="logo">
                    <h1><a th:href="@{/index}"><img src="/resources/img/logo.png"></a></h1>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="shopping-item">
                    <a th:href="@{/cart}">
                        Giỏ Hàng
                        <i class="fa fa-shopping-cart"></i>(<span id="cartQuantity">0</span>)
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="mainmenu-area">
    <div class="container">
        <div class="row">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Chuyển Đổi Điều Hướng</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a th:href="@{/index}">Trang Chủ</a></li>
                    <li><a th:href="@{/index/product}">Sản Phẩm</a></li>
                    <li><a th:href="@{/cart}">Giỏ Hàng</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown">Loại Sản Phẩm<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li th:each="cate : ${category}">
                                <a th:href="@{'/catalog-list/' + ${cate.categoryID}}">
                                    <span th:text="${cate.categoryName}"></span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li><a href="#">Giới Thiệu</a></li>
                    <li><a href="#">Liên Hệ</a></li>
                    <li>
                        <form class="navbar-form" th:action="@{/search}" method="get">
                            <div class="form-group">
                                <input type="text" class="form-control" name="keyword" placeholder="Search">
                            </div>
                            <button type="submit" class="btn btn-default">Tìm Kiếm</button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<section class="container">
	<div class="filter-bar">
    <div class="dropdown">
        <button class="btn btn-primary" style="margin-right: 10px;" data-toggle="modal" data-target="#modalFilter">
            Lọc theo danh mục
        </button>
        <a style="margin-right: 10px;" href="#">Sắp Xếp Theo:</a>
        <button class="btn btn-primary" type="button" onclick="listProductNewBest()">Mới Nhất</button>
        <div class="dropdown-divider"></div>
        </br>
        <div class="filter-bar">
            <div class="dropdown d-inline-block">
                <button class="btn btn-primary dropdown" type="button" data-toggle="dropdown">
                    Giá <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li> <a class="dropdown-item" onclick="listProductPriceDesc()">Giá cao đến thấp</a> </li>
                    <li> <a class="dropdown-item" onclick="listProductPriceAsc()">Giá thấp đến cao</a> </li>
                </ul>
            </div>
            <div class="dropdown d-inline-block">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                    Thương hiệu <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" id="trademark-Dropdown">
                </ul>
            </div>
            <div class="dropdown d-inline-block">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                    Loại <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" id="category-Dropdown">
                </ul>
            </div>
            <div class="dropdown d-inline-block">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                    Chọn Phiên Bản Sản Phẩm <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" id="productVersion-Dropdown">
                </ul>
            </div>
            <button type="submit" class="btn btn-default" id="searchButton">Tìm Kiếm</button>
        </div>
    </div>
    <div class="product-container">
        <div class="row" id="dataProduct"></div>
    </div>
    <div class="container">
        <div class="row" id="pageproduct"></div>
    </div>
    </div>
</section>
<footer th:replace="fragment/footer::footer"></footer>
<div id="modalFilter" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Danh mục Loại</h4>
            </div>
            <div class="modal-body" th:each="cate : ${category}">
                <ul>
                    <li>
                        <input type="radio" name="categoryID"
                               th:value="${cate.categoryID}">
                        <span th:text="${cate.categoryName}"></span>
                    </li>
                </ul>
            </div>
            <div class="modal-footer">
                <button onclick="showListProductByIdFilter()" type="button"
                        class="btn btn-default" data-dismiss="modal">
                    Lọc
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Thoát
                </button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="productModal" tabindex="-1" role="dialog" aria-labelledby="productModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="productModalLabel">Kết quả Tìm kiếm</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Tên Sản Phẩm</th>
                            <th>Hình Ảnh</th>
                            <th>Thương Hiệu</th>
                            <th>Loại</th>
                            <th>Giá</th>
                        </tr>
                    </thead>
                    <tbody id="productModalBody">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script type="text/javascript" th:src="@{/resources/js/owl.carousel.min.js}"></script>
<script type="text/javascript" th:src="@{/resources/js/jquery.easing.1.3.min.js}"></script>
<script type="text/javascript" th:src="@{/resources/js/main.js}"></script>
<script type="text/javascript" th:src="@{/resources/js/bxslider.min.js}"></script>
<script type="text/javascript" th:src="@{/resources/js/script.slider.js}"></script>
<script type="text/javascript" th:src="@{/resources/js/jquery.sticky.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9.5.3/dist/sweetalert2.all.min.js"></script>
<script type="text/javascript" th:src="@{/resources/js/addTocart.js}"></script>
<script type="text/javascript" th:src="@{/resources/js/logout.js}"></script>
<script type="text/javascript" th:src="@{/resources/js/insertproduct.js}"></script>
<script type="text/javascript" th:src="@{/resources/js/search.js}"></script>
<script type="text/javascript" th:src="@{/resources/js/product.js}"></script>
</body>
</html>